*{
    margin: 0;
    padding: 0;

}
.container{
    width: 100%;
    height: 100vh;
}

.nav{
    height: 50px;
    background-color: orangered;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 100px;
}
.info{
  list-style-type: none; 
}


.logo img{
    width: 40px;
    height: 40px;
}

.nav ul{
   display: flex;
   height: 50px;
   align-items: center;
   list-style: none;
   margin: 0 70px;
}


.nav ul li{
  padding: 0 15px;
}

.nav ul li:hover{
     border-radius:10px ;
     background-color: rgb(151, 48, 11);
     cursor: pointer;
     height: 40px;
     align-items: center;
     display: flex;
     font-size: larger;
}

.explore{
    margin: 30px 0;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 230px;
    height: 190px;
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.box img{
    width: 100px;
    height: 100px;
    border-radius: 65px;
    
}
.box h3{
    padding-bottom: 5px;
}

.box p{
   padding-bottom: 15px;
}

#box1{
    background-color: blueviolet;
}
#box2{
    background-color:orangered;
}
#box3{
    background-color:rgb(65, 135, 216);
}
#box4{
    background-color:rgb(69, 209, 50);
}
#box1:hover{
    border: 2px solid blueviolet;
    box-shadow: 1px 1px 5px;
    font-size: larger;
}
#box2:hover{
    border: 2px solid orangered;
    box-shadow: 1px 1px 5px;
    font-size: larger;
}
#box3:hover{
    border: 2px solid rgb(65, 135, 216);;
    box-shadow: 1px 1px 5px;
    font-size: larger;
}
#box4:hover{
    border: 2px solid rgb(69, 209, 50);
    box-shadow: 1px 1px 5px;
    font-size: larger;
}

.mc-boxs{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mc-box{
    width: 230px;
    height: 230px;
    margin: 0 20px;
   border: 2px solid white;
   box-shadow: 1px 1px 5px;
   border-radius: 10px;
   cursor: pointer;

}
.mc h1{
    margin: 0 10px;
}
.mc-box img{
 width: 230px;
 height: 115px;
 border-radius: 10px;
}

.mc-box h4{
    padding: 10px 15px;

}
.mc-box span{
    padding: 0 15px;
}

.mc-box p{
    padding: 10px 15px;
    color: orangered;
    font-size: large;
    font-weight: bold;
}

.mc-box i{
    padding-right: 5px;
    font-size: 15px;
}

.lc{
    margin-top: 30px;
}
.lc-box{
    width: 230px;
    height: 230px;
    margin: 0 20px;
   border: 2px solid white;
   box-shadow: 1px 1px 5px;
   border-radius: 10px;
   cursor: pointer;

}
.lc h1{
    margin: 0 10px;
}
.lc-boxs{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lc-box img{
    width: 230px;
    height: 115px;
    border-radius: 10px;
   }

.lc-box h4{
    padding: 10px 15px;
   }

.lc-box span{
    padding-left: 15px;
}
.lc-box p{
    padding: 10px 15px;
    color: orangered;
    font-size: large;
    font-weight: bold;
}
.lc-box i{
    padding-right: 5px;
    font-size: 15px;
}



.uc{
    margin-top: 30px;
}

.uc-box{
    width: 230px;
    height: 230px;
    margin: 0 20px;
   border: 2px solid white;
   box-shadow: 1px 1px 5px;
   border-radius: 10px;
   cursor: pointer;

}
.uc h1{
    margin:0 10px;
}

.uc-boxs{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.uc-box img{
    width: 230px;
    height: 115px;
    border-radius: 10px;
   }

.uc-box h4{
    padding-left: 10px;
    padding-bottom: 10px;
}

.uc-box .rs{
    font-weight: bold;
    padding-left: 10px;
    color: black;
    font-size: large;
}

.uc-box span{
    padding-left: 10px;
    color: rgb(155, 147, 147);
    font-size: 10px;
}

.uc-box p{
    padding: 5px 10px;
    color: rgb(155, 147, 147);
    font-size: 10px;
}

.uc-box .Alert{
    padding-left: 10px;
    font-size: larger;
    color: orangered;
}
.uc-box i{
    padding-right: 5px;
    font-size: 15px;
}
.navbar{
  height: 40px;
  background-color: red;
}

.next{
  background-color: black;
 border-radius: 40px;
 display: flex;

}

.st1{
  margin: 35px;
  padding: 20px;
   cursor: wait;
   border: 2px solid black;
background-color: green;
   border-radius:  20px;
   color: black;


}
.b1{
  cursor: pointer;
  color: black;
  border-radius: 20px;
  background-color: gray;
}
  


}
.kuldeep{
  border-radius: 80px;
  margin: 30px;
  width: 400px;
  height: 500px;

}
.text{
  font-size: 30px;
text-align: right;
padding-right: 40px;
color: white;
justify-content: space-between;
}









